<!-- Contenedor ng-container que muestra el formulario solo si existe un formulario -->
<ng-container *ngIf="form">
	<!-- Contenedor principal del formulario con clases de diseño -->
	<div class="container mt-5">
		<!-- Fila para centrar el contenido -->
		<div class="row justify-content-md-center">
			<!-- Formulario con enlace a la propiedad formGroup del componente, manejo del evento ngSubmit y desactivación de validación del navegador -->
			<form [formGroup]="form" (ngSubmit)="save()" novalidate autocomplete="off" class="col-4">
				<!-- Título del formulario -->
				<h3>Recuperar contraseña</h3>
				<!-- ✅ Mensaje visual de error o éxito -->
				<div *ngIf="message" class="alert mt-3" [ngClass]="messageClass">
				{{ message }}
				</div>
				<!-- Contenedor para el campo de correo electrónico -->
				<div class="mt-2">
					<!-- Sección que muestra el campo de correo electrónico si emailValid es verdadero -->
					<div *ngIf="emailValid">
						<label for="email" class="form-label">Correo:</label>
						<!-- Entrada de texto para el correo electrónico con enlace a formControlName y validaciones -->
						<input formControlName="email" name="email" id="email" type="email" placeholder="email"
							[pattern]="emailValid" required minlength="6" maxlength="30" class="form-control" />
					</div>
					<!-- Sección para mostrar mensajes de error si el campo de correo electrónico es inválido -->
					<div *ngIf="
							form.get('email')?.errors &&
							(form.get('email')?.dirty ||
								form.get('email')?.touched)
						" class="mt-2 text-danger">
						<!-- Mensajes de error específicos para diferentes tipos de errores -->
						<p *ngIf="form.get('email')?.hasError('required')">
							Field is required
						</p>
						<p *ngIf="form.get('email')?.hasError('pattern')">
							Wrong email format
						</p>
						<p *ngIf="form.get('email')?.hasError('minlength')">
							Min of 6 characters
						</p>
						<p *ngIf="form.get('email')?.hasError('maxlength')">
							Max of 30 characters
						</p>
					</div>
				</div>
				<!-- Fila para los botones del formulario -->
				<div class="row">
					<div class="col-6"></div>
					<div class="col-6">
						<!-- Botón para enviar el formulario con desactivación si el formulario es inválido -->
						<button type="submit" [disabled]="form.invalid" class="btn mt-3 boton-generico">
							Solicitar recuperación
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Cierre del contenedor ng-container -->
	<ng-container>