<ng-container *ngIf="form">
	<div class="container mt-5">
		<div class="row justify-content-md-center">
			<form [formGroup]="form" (ngSubmit)="save()" novalidate autocomplete="off" class="col-4">
				<h3>Modificar usuario</h3>

				<!-- Nombre -->
				<div class="mt-2">
					<div *ngIf="lettersAndAccents">
						<label for="name" class="form-label">Nombre:</label>
						<input formControlName="name" name="name" id="name" type="text" placeholder="name"
							[pattern]="lettersAndAccents" minlength="3" maxlength="33" class="form-control" />
					</div>
					<div *ngIf="form.get('name')?.errors && (form.get('name')?.dirty || form.get('name')?.touched)" class="mt-2 text-danger">
						<p *ngIf="form.get('name')?.hasError('minlength')">Mínimo de 3 caracteres</p>
						<p *ngIf="form.get('name')?.hasError('maxlength')">Máximo de 33 caracteres</p>
						<p *ngIf="form.get('name')?.hasError('pattern')">Formato de nombre incorrecto</p>
					</div>
				</div>

				<!-- NickName -->
				<div class="mt-2">
					<div *ngIf="unaccentedLettersAndNumbers">
						<label for="nickName" class="form-label">Nombre de usuario:</label>
						<input formControlName="nickName" name="nickName" id="nickName" type="text" placeholder="nickName"
							[pattern]="unaccentedLettersAndNumbers" minlength="3" maxlength="33" class="form-control" />
					</div>
					<div *ngIf="form.get('nickName')?.errors && (form.get('nickName')?.dirty || form.get('nickName')?.touched)" class="mt-2 text-danger">
						<p *ngIf="form.get('nickName')?.hasError('minlength')">Mínimo de 3 caracteres</p>
						<p *ngIf="form.get('nickName')?.hasError('maxlength')">Máximo de 33 caracteres</p>
						<p *ngIf="form.get('nickName')?.hasError('pattern')">Solo letras sin acento y números</p>
					</div>
				</div>

				<!-- Email -->
				<div class="mt-2">
					<div *ngIf="emailValid">
						<label for="email" class="form-label">Correo:</label>
						<input formControlName="email" name="email" id="email" type="email" placeholder="email"
							[pattern]="emailValid" minlength="6" maxlength="30" class="form-control" />
					</div>
					<div *ngIf="form.get('email')?.errors && (form.get('email')?.dirty || form.get('email')?.touched)" class="mt-2 text-danger">
						<p *ngIf="form.get('email')?.hasError('pattern')">Formato de email inválido</p>
						<p *ngIf="form.get('email')?.hasError('minlength')">Mínimo de 6 caracteres</p>
						<p *ngIf="form.get('email')?.hasError('maxlength')">Máximo de 30 caracteres</p>
						<p *ngIf="form.get('email')?.hasError('validUserMail')">Este email ya está registrado</p>
					</div>
				</div>

				<!-- Contraseña -->
				<div class="mt-2">
					<div>
						<label for="password" class="form-label">Contraseña:</label>
						<input formControlName="password" name="password" id="password" type="password" placeholder="Password"
							autocomplete="off" minlength="8" maxlength="20" class="form-control" />
					</div>
					<div *ngIf="form.get('password')?.errors && (form.get('password')?.dirty || form.get('password')?.touched)" class="mt-2 text-danger">
						<p *ngIf="form.get('password')?.hasError('minlength')">Mínimo de 8 caracteres</p>
						<p *ngIf="form.get('password')?.hasError('maxlength')">Máximo de 20 caracteres</p>
						<p *ngIf="form.get('password')?.hasError('pattern')">No es segura</p>
						<p *ngIf="form.get('password')?.hasError('noUpperCase')">Falta mayúscula</p>
						<p *ngIf="form.get('password')?.hasError('noLowerCase')">Falta minúscula</p>
						<p *ngIf="form.get('password')?.hasError('noNumeric')">Falta número</p>
						<p *ngIf="form.get('password')?.hasError('notSymbols')">Faltan símbolos</p>
						<p *ngIf="form.get('password')?.hasError('validPasswordStrength')">No es lo bastante segura</p>
					</div>
				</div>

				<!-- Confirmar contraseña -->
				<div class="mt-2">
					<div>
						<label for="passwordConfirm" class="form-label">Confirmar Contraseña:</label>
						<input formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm" type="password"
							placeholder="Confirm your password" autocomplete="off" minlength="8" maxlength="20" class="form-control" />
					</div>
					<div *ngIf="form.get('passwordConfirm')?.errors && (form.get('passwordConfirm')?.dirty || form.get('passwordConfirm')?.touched)" class="mt-2 text-danger">
						<p *ngIf="form.get('passwordConfirm')?.hasError('minlength')">Mínimo de 8 caracteres</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('maxlength')">Máximo de 20 caracteres</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('noUpperCase')">Falta mayúscula</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('noLowerCase')">Falta minúscula</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('noNumeric')">Falta número</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('notSymbols')">Faltan símbolos</p>
						<p *ngIf="form.get('passwordConfirm')?.hasError('validPasswordStrength')">No es lo bastante segura</p>
					</div>
					<!-- Corrección del mensaje de contraseñas no coincidentes -->
					<div *ngIf="form?.errors?.['passwordMismatch']" class="mt-2 text-danger">
						Las contraseñas no coinciden.
					</div>
				</div>

				<!-- Botones -->
				<div class="row">
					<div class="col-8">
						<button type="button" (click)="deleteUser()" [disabled]="form.invalid" class="btn btn-danger mt-3">
							Eliminar cuenta
						</button>
					</div>
					<div class="col-4">
						<button type="submit" [disabled]="form.invalid" class="btn btn-dark mt-3">
							Guardar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</ng-container>
