<footer class="footer">
	<div class="container ">
		<div class="row">
			<div class="col-md-4">
				<h3>JPC Informática</h3><hr> 
				<p>En JPC Informática trabajamos para diseñar un futuro mejor para las personas.</p>
				<p><a [routerLink]="['/info']">Más información›</a></p>
				<div class="redes-sociales">
					<i href="#"  class="fab fa-facebook-f"></i>
					<i href="#"  class="fab fa-instagram"></i>
					<i href="#"  class="fab fa-twitter"></i>
					<i href="#"  class="fab fa-youtube"></i>
				</div>
			</div>
			<div class="col-md-4">
						
				<ul class="lista-medios-contacto">
					<li><h3>Contacto</h3></li><hr> 
					<li><i class="fas fa-map-marker-alt"></i> C/ Obregon, 23 - Bajo, 47009 Valladolid, España</li>
					<li><i class="fas fa-phone"></i> 947&nbsp;502&nbsp;299</li>
					<li><i class="far fa-envelope"></i> <a href="mailto:info@jpcinformatica.com"> info&#64;jpcinformática.com</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				
				<ul>
					<li><h3>Enlaces</h3></li><hr> 
					<li><a href="https://biki-valladolid.es/es" target="_blank">Biki Valladolid</a></li>
					<li><a href="https://www.auvasa.es/" target="_blank">Autobuses de Valladolid SA</a></li>
					<li><a href="https://www.auvasa.es/movasa/parkibici/" target="_blank">Movasa </a></li>
					<li><a href="https://www.valladolid.es/es" target="_blank">Ayuntamiento de Valladolid</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<p>&copy; 2025 JPC Informática. Todos los derechos reservados.</p>
		</div>
		
	</div>
</footer>


