<div class="text-center mt-5">
    <div class="containerInfo containerQuienesSomos">
        <h5>PROYECTO</h5>
        <p>En JPC Informática, estamos comprometidos con la innovación y la mejora continua de nuestros servicios. Por ello, nos
            complace presentar nuestro nuevo proyecto de Previsión de la Demanda de Alquiler de Bicicletas, diseñado
            para optimizar la disponibilidad de nuestras bicicletas y mejorar la experiencia de nuestros clientes.</p>
        <p>El objetivo principal de este proyecto es desarrollar un sistema avanzado que nos permita prever la demanda
            de alquiler de bicicletas con una precisión sin precedentes. Utilizando técnicas de análisis de datos y
            modelos predictivos, buscamos anticipar las necesidades de nuestros usuarios y garantizar que siempre haya
            una bicicleta disponible cuando la necesiten.</p>
        <p>En JPC Informática creemos que la tecnología y la innovación son clave para ofrecer un servicio de calidad. Con este
            proyecto de previsión de la demanda, estamos dando un paso importante hacia la mejora continua y la
            satisfacción de nuestros clientes. Estamos emocionados de compartir este avance con ustedes y de seguir
            trabajando juntos para un futuro más sostenible y eficiente.</p>
    </div>
    <div class="containerInfo containerEmpresas">
        <h5>EMPRESAS QUE USAN NUESTRA TECNOLOGÍA</h5>
        <div class="img-container">
            <img src="../../../../../assets/img/InfoImages/logotipo_auvasa.png">
            <img src="../../../../../assets/img/InfoImages/logotipo_biki.png">
            <img src="../../../../../assets/img/InfoImages/logotipo_movasa.png">
        </div>
    </div>
</div>