<ng-container *ngIf="form">
	<div class="container mt-5">
		<div class="row justify-content-md-center">
			<form [formGroup]="form" (ngSubmit)="save()" novalidate autocomplete="off" class="col-4">
				<!-- Título del formulario -->
				<h3>Restaurar Contraseña</h3>

				<!-- Campo de correo electrónico -->
				<div class="mt-2">
					<div *ngIf="emailValid">
						<label for="email" class="form-label">Correo:</label>
						<input formControlName="email" name="email" id="email" type="email" placeholder="email"
							[pattern]="emailValid" required minlength="6" maxlength="30" class="form-control" />
					</div>
					<!-- Mensajes de error para el campo de correo electrónico -->
					<div *ngIf="
							form.get('email')?.errors &&
							(form.get('email')?.dirty ||
								form.get('email')?.touched)
						" class="mt-2 text-danger">
						<p *ngIf="form.get('email')?.hasError('required')">
							Field is required
						</p>
						<p *ngIf="form.get('email')?.hasError('pattern')">
							Wrong email format
						</p>
						<p *ngIf="form.get('email')?.hasError('minlength')">
							Min of 6 characters
						</p>
						<p *ngIf="form.get('email')?.hasError('maxlength')">
							Max of 30 characters
						</p>
						<p *ngIf="form.get('email')?.hasError('validUserMail')">
							The email already exists
						</p>
					</div>
				</div>

				<!-- Campo de contraseña -->
				<div class="mt-2">
					<div>
						<label for="password" class="form-label">Contraseña:</label>
						<input formControlName="password" name="password" id="password" type="password" placeholder="Password"
							autocomplete="off" required minlength="8" maxlength="20" class="form-control" />
					</div>
					<!-- Mensajes de error para el campo de contraseña -->
					<div *ngIf="
							form.get('password')?.errors &&
							(form.get('password')?.dirty ||
								form.get('password')?.touched)
						" class="mt-2 text-danger">
						<!-- Mensajes de error específicos -->
					</div>
				</div>

				<!-- Campo de confirmación de contraseña -->
				<div class="mt-2">
					<div>
						<label for="passwordConfirm" class="form-label">Confirmar
							Contraseña:</label>
						<input formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm" type="password"
							placeholder="Confirm your password" autocomplete="off" required minlength="8" maxlength="20"
							class="form-control" />
					</div>
					<!-- Mensajes de error para el campo de confirmación de contraseña -->
					<div *ngIf="
							form.get('passwordConfirm')?.errors &&
							(form.get('passwordConfirm')?.dirty ||
								form.get('passwordConfirm')?.touched)
						" class="mt-2 text-danger">
						<!-- Mensajes de error específicos -->
					</div>
					<div *ngIf="form?.errors">Passwords do not match</div>
				</div>

				<!-- Botón de envío -->
				<div class="row">
					<div class="col-8"></div>
					<div class="col-4">
						<button type="submit" [disabled]="form.invalid" class="btn mt-3 boton-generico">
							Restaurar
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</ng-container>